@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

body{
    background-color: var(--pampas-white);
    transition: background-color 1s ease;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: var(--body-text-color);
    counter-reset: section;  

}
h1, h2, h3, h4, h5, h6 {
    color: var(--headlines-color);
}
    h1{
        font-size: calc(48px + (96 - 48) * ((100vw - 300px) / (1600 - 300))) !important;
        line-height: 1;
        letter-spacing: -2px;
        font-weight: 400;
    }
    h2{
        font-size: calc(36px + (64 - 36) * ((100vw - 300px) / (1600 - 300))) !important;
        line-height: 1;
        letter-spacing: -1.5px;
        font-weight: 400;
    }
    h3{
        font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300))) !important;
        line-height: 1;
        letter-spacing: -1px;
        font-weight: 400;
    }
    h4{
        font-size: 36px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.5px;
    }
    h5{
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: -0.5px;
        font-weight: 500;
    }
    h6{
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: 0px;
        font-weight: 500;
    }
.dropdown-item{
    line-height: 40px !important;
}
.dropdown-menu{
    border: none !important;
    background: #0f2d28!important;
    border-radius: 3px !important;
}
.color-green{
    background-color:var(--green-haze);
}
.color-pampas{
    background-color: var(--pampas-white);
}
.change-bg-color{
    background-color: var(--green-haze) !important;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2f343361; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0a1714; 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1d2e2aa8; 
  }
  ::-moz-selection { /* Code for Firefox */
    color: #0a1714; 
    background: #27484037;
  }
  ::selection {
    color: #0a1714; 
    background: #27484037;
  }
:root{
    --deep-haze: #0d2620;
    --deemed-haze: #526d66;
    --feld-green: #7f8f8b;
    --silver-sand: #c9cec9;
    --pampas-dark: #d6d5ce;
    --pampas-light: #efeeea;
    --pampas-white: #E4E3DC;
    --green-haze: #114139;
    --salomie: #f2d06d;
    --valencia: #d03f4e;
    --royal-blue: #3e5e8c;
    --pure-black: #000000;
    --pure-white: #ffffff;
    --body-text-color: #282A28;
    --headlines-color: #0D2620;
}
.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate( 0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate( 0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate( 0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate( 0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-40%, -50%) !important;
}
.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(
0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(
0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 80%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    .animated-icon1, .animated-icon2, .animated-icon3 {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        }
        .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
        display: block;
        position: absolute;
        height: 2px;
        width: 80%;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        }
        .animated-icon1 span {
        background: var(--pampas-white);
        }
        .animated-icon2 span {
        background:var(--pampas-white);
        }
        .animated-icon3 span {
        background:var(--pampas-white);
        }
        .animated-icon1 span:nth-child(1) {
        top: 0px;
        }
        .animated-icon1 span:nth-child(2) {
        top: 5px;
        }
        .animated-icon1 span:nth-child(3) {
        top: 20px;
        }
        .animated-icon1.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        }
        .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
        }
        .animated-icon1.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        }
        .navbar-toggler:focus {
            text-decoration: none;
            outline: 0;
            box-shadow: 0 0 0 0;
        }
        .animated-icon1 span:nth-child(2) {
            top: 10px;
            height: 2px;
        }
.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--pampas-white);
    z-index: 10;
    overflow: hidden;
}
#preloader-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loading-symbol {
    width: max-content;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loading-symbol-box {
    background:var(--pampas-white);
    position: absolute;
    top: 60%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 15;
  }
.loading-paragraph{
    font-weight: bold;
    margin-top: 20px;
    top: 40%;
    left: 50%;
}
.intro-content{
    z-index: 14;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headline-container span{
    display: inline-block;
    overflow: hidden;
}
h2 span{
    display: inline-block;
    overflow: hidden;
    height: 70px;
}

.fixed-position {
    position: fixed;
 }
.remove-padding{
    padding: 0 !important;
}
.section-padding{
    padding: 0 2%;
}
.header-section{
    background-color: var(--green-haze);
}
.about-us-header-section{
    background-color: var(--green-haze);
    height: 70vh;
}
.cannify-products-header-section{
    background-color: var(--green-haze);
    height: 80vh;
}
.work-process-section{
    background-color: var(--green-haze);
}
.contact-tel-email{
    color: #ffffff;
    font-weight: bold;
    margin-right: 50px !important;
    float: left;
}
.header-section a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
}
.header-section a:hover{
    color: #ffffff;
    text-decoration: underline;
}
.header-above{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:20px 0;
}
.btn-primary-header{
    color: #ffffff;
    margin: 0px 5px;
    padding: 5px 20px;
    border: 0.5px solid rgba(135, 135, 135, 0.537);
    background-color: transparent;
    border-radius: 25px;
    transition: all .3s ease-in-out;
}
.btn-primary-header:hover{
    color: #ffffff;
    margin: 0px 10px;
    padding: 5px 20px;
    border: 0.5px solid rgba(135, 135, 135, 0.66);
    background-color: rgba(135, 135, 135, 0.449);
    border-radius: 25px;
    transition: all .3s ease-in-out;
}
.dropdown-item:hover {
    background-color: rgb(246 246 246 / 7%);
    border-radius: 3px;
    text-decoration: none !important;
}
.login-circle::before{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
    margin-bottom: 1px;
    background-color: #fff;
    display: inline-block;
}
.nav-link-ltr{
    color: #ffffff;
    margin-left: 15px;
}
.nav-link-ltr:focus{
    color: #ffffff;
}
.navbar-content {
    justify-content: flex-end;
 }
.only-collapsed{
    display: none;
}
.collapsing {
    transition: none !important;
  }
  .nav-item:hover{
      text-decoration: none !important;
  }
  .nav-link:hover{
      text-decoration: none !important;
  }
  .link-plus {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}
.text-rotate-plus:hover .link-plus {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg) scale(1.5);
    -moz-transform: rotate(180deg) scale(1.5);
    -o-transform: rotate(180deg) scale(1.5);
    -ms-transform: rotate(180deg) scale(1.5);
    transform: rotate(180deg) scale(1.5);
}
.dropdown-chevron-up{
    transition: 0.70s !important;
    -webkit-transition: 0.70s !important;
    -moz-transition: 0.70s !important;
    -ms-transition: 0.70s !important;
    -o-transition: 0.70s !important;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}
.dropdown-chevron-down{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
#dropdown-icon{
    transition: all 0.70s;
}
#dropdown-icon2{
    transition: all 0.70s;
}
.nav-item span{
    display: inline-block;
    overflow: visible;
    width: 100%;
    border-bottom: none;
}
  @media (max-width: 992px) {
.research-horizontal {
    background-color: #395A52;
    padding: 40px 20px;
    display: flex;
    border-radius: 5px;
    margin: 20px;
    flex-direction: column;
    align-items: flex-start !important;
}
.research-horizontal img {
    border-radius: 50%;
    margin-right: 25px;
    margin-bottom: 25px;
    }
.year-numbers::after{
    display: none !important;
}
    
}
.nav-item:focus{
    text-decoration: none;
}
.btn:focus{
    box-shadow: none;
}
.navbar-toggler {
    background-color: #ffffff14 !important;
    z-index: 2;
    border-radius: 50%;
    width: 60px;
    padding: 30px;
    height: 60px;
}
.navbar{
    padding-top:20px;
    padding-bottom:20px;
    background-color: var(--green-haze);
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu {
    justify-content: center;
    position: absolute;
    z-index: 9999999999999999999;
    display: none;
    min-width: 20px;
    padding: 10px;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    flex-direction: column;
}
.header-breakline{
    width: 100%;
    border-bottom: 1px solid #fff;
}
.nav-breakline{
    width: 100%;
    border-bottom: 1px solid #fff;
}
.bg-video{
    display: flex;
    position: relative;
}
.bg-video:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.272);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .vid{
    object-fit: cover;
    height: 70vh;
  }
  .info-row div{
      display: flex;
      color: #fff;
      background-color:var(--green-haze);
      align-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px;
  }
  .info-row p{
      font-weight: 300;
      font-size: 14px;
      letter-spacing: -3%;
  }
  .info-row span{
      font-weight: bold;
      font-size: 24px;
  }
  .info-row a{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-underline-offset: var(--offset, 1px);
    text-decoration: underline 0.15em;
    transition: --offset 400ms, text-decoration-color 400ms;
}
.info-row a:hover{
    color: var(--pampas-white);
    font-weight: bold;
    font-size: 18px;
    --offset: 4px;
    text-decoration-color: var(--pampas-white);
}
#second-info-block{
    border-right: 0.5px solid rgba(135, 135, 135, 0.66);;
    border-left: 0.5px solid rgba(135, 135, 135, 0.66);;
}
.headline-container{
    z-index: 8;
    display: flex;
    position: absolute;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
.headline-container h1{
    color: #fff;
    padding-left: 40px;
}
.cannify-products-headline-container{
    z-index: 8;
    display: flex;
    position: absolute;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
.cannify-products-headline-container h1{
    color: #fff;
    margin-bottom: 20px;
}
.cannify-products-headline-container p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}
.third-section .col-md-4{
    display: flex;
    flex-direction: column;
}
.third-section .col-md-4 span{
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}
.third-section .col-md-4 p{
    color: #000000;
    font-size: 14px;
}
.btn-shop{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    background-color: var(--green-haze);
    padding: 20px 40px;
    border-radius: 3px;
}
.btn-shop:hover{
    color: #fff;
    background-color: var(--green-haze);
    padding: 20px 40px;
}
.btn{
    font-weight: 400;
}
p{
    font-size: 14px;
    line-height: 1.6;
}
.qualities{
    background-color: var(--silver-sand);
    padding: 40px 20px; 
    margin-bottom: 20px;
    min-height: 350px;
}
 
.qualities-img {
    display: flex;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: var(--pampas-white);
    padding: 15px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}
.qualities-horizontal {
    background-color: var(--silver-sand);
    padding: 40px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
}
.qualities-horizontal img{
    border-radius: 50%;
    background-color: var(--pampas-white);
    padding: 15px;
}
.qualities-text p{
    padding-left: 20px;
    margin: 0px;
}
.qualities-text h5{
    margin-bottom: 15px;    
    padding-left: 20px;
}
.products-section p{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -3%;
}
.products-section span{
    font-weight: bold;
    font-size: 14px;
}
.first-col{
    display: flex;
    flex-direction: column;
}
  .logo-carousel {
    background: var(--pampas-white);
  }
  .logo-carousel-image {
    background-color: #ffffff40;
    object-fit: scale-down;
    display: block;
    min-width: 400px;
    max-width: 400px;
    max-height: 106px;
    min-height: 106px;
    margin: 0 10px;
  }
  .carousel.is-fullscreen .logo-carousel-image {
    height: auto;
    max-height: 100%;
  }
 .tb-section-padding{
     padding-top: 5%;
     padding-bottom: 5%;
 }
 .tb-padding{
     padding-top: 5%;
     padding-bottom: 5%;
 }
.partners-section span{
    font-weight: bold;
    font-size: 14px;
}
.partners-section p{
    font-weight: 400;
    font-size: 14px;
}
.partners-logo{
    padding:20px 0px;
}
.company-news-section{
    background-color: var(--green-haze);
    color: #fff;
    overflow: hidden;
    scroll-snap-type: y proximity;
}
.company-news-container{
    scroll-snap-align: start;
}
.company-news-section span{
    font-weight: bold;
    font-size: 14px;
}
.company-news-section p{
    font-weight: 400;
    font-size: 14px;
}
.news{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.breakline{
    width: 100%;
    border-bottom: 1px solid #fff;
}
.black-breakline{
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 5%;
}
.news-blog{
    padding-top: 2%;
    padding-bottom: 4%;
}
.news-blog h2{
    color: #fff;
}
.news-breakline{
    width: 100%;
    border-bottom: 1px solid #fff;
}
.info-carousel p{
    color: #ffffff70;
    font-size: 12px;
}
.flickity-button{
    visibility: hidden;
}
.button--next{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 5px;
    transition: all .3s ease-in-out;
}
.button--previous{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 5px;
    transition: all .3s ease-in-out;
}
.button--next:hover{
    background-color: rgba(135, 135, 135, 0.449);
    transition: all .3s ease-in-out;
}
.button--previous:hover{
    background-color: rgba(135, 135, 135, 0.449);
    transition: all .3s ease-in-out;
}
.reveal {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top:0;
    bottom:0;
    right:0;
    left:0;
    height: 100%;
    background: var(--pampas-white) !important;
}
.news-carousel{
    min-height: 100%;
    width: 100%;
    height: 100%;
}
.carousel-cell {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-right: 20px;
    padding-left: 10px;
    border-left: 1px solid #ffffff40;
}
.carousel-cell img{
    display: block;
    max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel-cell p{
    font-size: 12px;
    color:#ffffff70;
    font-weight: 300;
    padding-top: 15px;
}
.carousel-cell h6{
    color:#ffffff;
    font-weight: 300;
    margin-bottom:35px;
    padding-top: 10%;
}
.carousel-cell a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
.footer-graphic{
    position: static;
    background-image: url(../img/footer-graphic.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 70px;
}
.contact-col span{
    font-size: 14px;
    font-weight: bold;
}
.contact-col p{
    font-size: 14;
    font-weight: normal;
    margin: 0;
}
.contact-col a:hover{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #000;
    transition: all .1 ease-in-out;
    text-decoration: none;
}
.contact-col a{
    font-size: 14px;
    font-weight: medium;
    line-height: 2.1;
    color: #000;
    transition: all .1 ease-in-out;
    text-decoration: none;
}
.contact-col-1{
    display: flex;
    flex-direction: column;
}
.contact-col-1 span{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5rem!important;
}
.contact-col-1 a {
    font-size: 14px;
    color: #000;
    line-height: 2.1;
    text-decoration: none;
}
.contact-col-1 a:hover{
    font-size: 14px;
    color: #000;
    letter-spacing: -0.5px;
    font-weight: bold;
    text-decoration: none;
}
.footer-categories {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 20%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25%;
}
.last-row{
    padding-top: 6%;
}
.last-row span{
    font-size: 14px;
    font-weight: bold;
}
.last-row a{
    font-size: 14px;
    font-weight: bold;
    color: var(--green-haze);
}
.last-row a:hover{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: var(--green-haze);
}
.container-fluid-right{
    margin-right: 0;
    padding-right: 0;
    max-width: none;
    width: 100vw;
}
.social-media-footer{
    float: right;
}
@media screen and ( min-width: 768px ){
    .nav-link:before {
        content: '';
        position: absolute;
        width: 75%;
        height: 1.5px;
        bottom:0;
        margin: 0 auto;
        left: 20px;
        padding-left: .5rem;
        background-color: #ffff;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
      }
      .nav-link:hover:before {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .circle {
        position: absolute;
      background-color:#215145;
      opacity:0.4;
        width: 24px !important; 
        height: 24px !important; 
      border-radius: 50%;  
      z-index: 999999;
      pointer-events: none !important;
    }
    .qualities-section{
        min-height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .products-section{
        min-height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .company-news-section{
        min-height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .cannify-shop-head-info-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1%;
        flex-direction: column;
    }
    .reveal {
        display: inline-block;
        position: absolute;
        overflow: hidden;
        z-index: 1;
        top:0;
        bottom:0;
        right:0;
        left:0;
        height: 100%;
        background: var(--pampas-white) !important;
    }
    .breakline{
        display: none;
    }
    .logo-carousel-image {
        background-color: #ffffff40;
        object-fit: scale-down;
        display: block;
        /* set min-width, allow images to set cell width */
        min-width: 250px;
        max-width: 250px;
        max-height: 106px;
        min-height: 106px;
        margin: 0 10px;
      }
      .carousel-cell {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-right: 20px;
        padding-left: 10px;
        border-left: 1px solid #ffffff40;
    }
    .picture-column-1{
        order: 1;
        margin-bottom: 25px;
    }
    .picture-column-2{
        order: 2;
        margin-bottom: 25px;
    }
    .text-column{
        order: 3;
    }
    #second-info-block{
        border-top: 0.5px solid rgba(135, 135, 135, 0.66);;
        border-bottom: 0.5px solid rgba(135, 135, 135, 0.66);;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .partner-review-block{
    display: flex;
    flex-direction: column;
    background-color: var(--pampas-light);
    padding: 40px 30px;
    border-radius: 3px;
}
.partner-review-text{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}
.partner-review-img{
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    align-items: center !important;
    justify-content: center !important;
}
    .qualities-horizontal {
        background-color: var(--silver-sand);
        padding: 40px 20px;
        display: flex;
        align-items: flex-start;
        border-radius: 5px;
        margin: 10px;
        flex-direction: column;
    }
    .qualities-text h5, p{
        padding: 0px !important;
    }
    .qualities-horizontal img{
        margin-bottom: 25px;
    }
    .history-years{
        font-size: 64px !important;
    }
    .years-column{
        text-align: center;
    }
    .horizontal-wrapper{
        display: block !important;
    }
    .first-year-section{
        height: auto !important;
        width: auto !important;
    }
    .history-section{
        padding: 0px;
        padding-bottom: 5% !important;
    }
    .warehouse-info{
        font-size: 14px;
        color: #fff;
        line-height: 1.2;
        z-index: 1;
        margin-top: 2%;
        padding: 0 30px;    
    }
    .customer-block{
        background-color: var(--green-haze);
        color: #fff;
        display: flex;
        padding: 30px;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .customer-img{
        display: flex;
        align-items: center;
        margin-right: 0px !important;
    }
    .quantities-list li{
        border-bottom: 1px dashed #00000020;
        list-style: none;
        padding: 40px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .quantities-list .number{
        font-size: 32px !important;
    }
    .headline-container h1{
        padding-left: 0px !important;
    }
    .work-progress-number{
        display: none !important;
    }
    .history-progress-number{
        display: none !important;
    }
    .nav-item > span{
        width: 100%;
        border-bottom: 1px solid #ffffff14;
    }
    .nav-item span{
        display: inline-block;
        overflow: hidden;
        width: 100%;
    }
    .navbar-padding {
        padding: 0 2%;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-top: 3vw;
    }
    .navbar-content {
        height: calc(100vh - 40px);
        justify-content: flex-start;
    }
    .navbar-container{
        padding-top: 20px !important;
    }
    .navbar{
        padding-top: 0px !important;
    }
   .only-collapsed {
    display: block;
    padding-top: 5vw;
}
    .collapsed-buttons button{
        padding: 5px 10px;
    }
    .collapsed-contact {
        padding-top: 5vw;
        display: flex;
        flex-direction: column;
    }
    .collapsed-buttons{
        display: flex;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
        font-size: 24px;
    }
    .nav-link-ltr {
        color: #ffffff;
        margin: 0px !important;
    }
    .qualities{
        min-height: auto;
    }
    .header-above{
        display: none;
    }
    .header-breakline{
        display: none;
    }
    .circle{
        display: none;
    }
    .carousel-cell {
        margin-top: 20px ;
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-right: 20px;
        padding-left: 10px;
        border-left: 1px solid #ffffff40;
    }
    .tb-section-padding{
        padding-top:15%;
        padding-bottom:15%;
    }
    .social-media-footer{
        float: left !important;
        padding-top:20px;
    }
    .footer-logo{
        margin-bottom:20px !important;
    }
    .footer-categories{
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: 8%;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 2%;
    }
}
.magnetic {
    margin: -50px;
    padding: 50px;
    display: inline-block;
    border-radius: 50%;
    /*border: 1px solid #000; //use this for debugging*/
  }
  .carousel-magnetic{
    margin: -40px;
    padding: 40px;
    display: inline-block;
    border-radius: 50%;
    width: fit-content;
    /*border: 1px solid #000; //use this for debugging*/
  }
  .my-button {
    background-color: #FFF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
  }
  .my-button:hover {
    color: #FFF;
    background-color: #000;
    transition: 0.5s background-color, 0.5s box-shadow;
    box-shadow: 0px 2px 25px rgba(0,0,0,0.5);
  }
  .first-paragraph-column p{
      font-size: 16px;
  }
  .map-column{
      margin-bottom: 5%;
  }
  .map-column span{
      font-weight: 600  ;
  }
.work-info{
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
}
.work-info span{
    font-weight: 600;
}
.work-process-row{
    margin-top: 50px;
    color: #fff;
}
.work-process-row h2{
    color: #fff;
    margin: 0px;
}
.work-process-row p{
    margin-top: 25px;
    color: #ffffff70;
}
.work-progress-number span{
    font-size: 18px;
    color: #fff;
    line-height: 1;
}
.work-progress-number{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.progress-line{
    border-left: 3px solid #395A52;
    margin: 25px auto;
    height: 14%;
}
.work-news{
    position: absolute;
    margin-top: 3%;
}
.warehouse-section{
    padding: 25px 0;
    background-color: var(--green-haze);
    height: 60vh;
}
.warehouse-breakline{
    width: 100%;
    border-bottom: 1px solid #fff;
}
.warehouse-info{
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    z-index: 1;
    margin-top: 2%;
}
.warehouse-img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center center;
}
.warehouse-container-fluid{
    position: relative;
}
.warehouse-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.quantities-section{
    padding: 20vh 2%;
}
.quantities-text{
    margin-bottom: 50px;
}
.quantities-text h2{
    padding-bottom: 20px;
    margin: 0;
}
.quantities-text p{
    padding-bottom: 35px;
    margin: 0;
}
.marginless-button{
    margin: 0;
}
.cannify-team-section{
    background-color: var(--pampas-dark);
}
.cannify-team-info{
    font-size: 14px;
    color: #000;
    line-height: 1.2;
    z-index: 1;
    margin-top: 5%;
    margin-bottom: 10%;
}
.cannify-team-info span{
    font-weight: 600;
}
.cannify-team-text{
    font-size: 14px;
    color: #000;
    line-height: 1.2;
}
.cannify-team-text span {
    font-weight: 600;
}
.personnel-cell{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-left: 10px;
    border-left: 1px solid #00000020;
    margin-bottom: 30%;
}
.personnel-cell img{
    margin-bottom: 20px;
}
.personnel-cell span{
    margin-bottom: 90px;
    font-size: 14px;
    color: #00000080;
}
.personnel-cell p{
    margin-bottom: 25px;
}.personnel-cell a{
    font-size: 16px;
    color: #274840;
    font-weight: 600;
}
.global-section{
    background-color: var(--green-haze);
    padding-top: 5%;
    padding-bottom: 5%;
}
.global-row{
    margin-top: 5%;
}
.global-row h2{
    color: #fff;
    line-height: 1;
    margin-bottom: 25px;
}
.global-row p{
    font-size: 14;
    color: #ffffff80;
    line-height: 1.6;
}
.symbol-column{
    margin-right: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.symbol-column img{
    width: 62px;
    height: 75px;
}
.pharmacist-section{
    background-color: var(--green-haze);
    height: 50vh;
}
.history-section{
    background-color: var(--pampas-dark);
    padding-top: 20vh;
}
.history-info{
    font-size: 14px;
    color: #000;
    line-height: 1.2;
    z-index: 1;
    margin-top: 5%;
    margin-bottom: 5%;
}
.history-info span{
    font-weight: 600;
}
.history-row{
    margin-bottom: 10%;
}
.history-years{
    font-size: 160px;
}
.second-number{
    color: var(--green-haze);
}
.history-progress-number span{
    font-size: 18px;
    color: #000;
    line-height: 1;
}
.history-progress-number{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.history-progress-line{
    border-left: 3px solid var(--pampas-white);
    margin: 25px auto;
    height: 18%;
}
.year-info-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}
.year-info-img{
    display: flex;
    width: 100%;
}
.year-info-img img{
    width: 100%;
    height: 100%;
}
.year-info{
    padding: 40px 40px;
    border-radius: 5px;
    background-color: var(--pampas-white);
}
.year-info p{
    font-size: 14px;
    color: #00000040;
    margin-bottom: 25px;
}
.year-info h5{
    margin: 0px;
}
.year-numbers::after{
    content: '';
    height: 2px;
    display: block;
    margin-left: 400px;
    margin-top: -108px;
    background: var(--green-haze);
}
.year-description{
    font-size: 14px;
    color: #000 !important;
    padding-top: 10px;
    margin: 0px !important;
}
.first-year-section{
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
}
.company-values-section{
    margin-top: 9vh;
}
.text-column h2{
    margin: 0px;
    padding-bottom: 20px;
}
.text-column p{
    margin: 0px;
    margin-bottom: 35px;
}
.horizontal-section-color{
    background-color: var(--pampas-dark);
}
.cannify-product-qualities-section{
    margin-top: 20vh;
}
.cannify-product-qualities-section h2{
    margin-bottom: 10px;
}

  /* COMPONENT STYLES*/
  .product-card-header img{
    object-fit: cover;
    object-position: center center;
    padding: 15%;
  }
  .product-card-header{
      padding: 5%;
  }
  .product-card{
      background-color:#EFEEE9;
      padding: 25px 25px;
      margin: 25px 0px;
  }
  .product-title-block{
      display: flex;
      flex-direction: row;
      padding: 8px;
      background-color: var(--silver-sand);
      justify-content: space-between;
      align-items: center;
      border-radius: 3px;
  }
  .product-title{
      font-size: 20px;
      font-weight: 600;
      text-align: center;
  }
  .product-specs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .specs-breakline{
      font-weight: 300 !important;
      margin: 0 4px;
  }
  .number{
      font-weight: bold;
  }
  .info-list{
      padding: 0px;
      margin: 0px;
      list-style: none;
  }
  .info-list li{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #DDDBD3;
      padding: 5px 0px;
      align-items: center;
      font-size: 14px;
  }
  .info-list p{
      color: #A8A8A8;
      margin: 0px;
  }
  .price{
      padding: 20px 0 !important;
      border-bottom: none !important;
  }
  .price p{
      color: #717171;
  }
  .price span{
    font-size: 20px;
    color: #12463D;
    font-weight: 600;
  }
  .product-info button{
    color: #fff;
    background-color: var(--green-haze);
    padding: 20px 40px;
    border-radius: 3px;
    width: 100%;
    margin: 0px;
  }
  .product-info span{
      font-weight: 400 !important;
  }
  .product-info .number{
      font-weight: 600 !important;
  }
  .product-code{
    border-bottom: none !important;
    font-size: 14px;
  }
  .product-code span{
    color: #076B4C;
    font-weight: bold;
  }
  .code-name{
    font-weight: bold;
    color: #A8A8A8 !important;
  }
  .white-button{
    padding: 8px 13px;
    background: #EFEEE9;
    border: none;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
  }
  .white-button img{
      padding: 5px;
  }
  .white-button .img-circle{
    padding: 8px;
    background-color: var(--pampas-white);
    border-radius: 50%;
    margin-right: 13px;
}
.white-button span{
    font-size: 14px;
    font-weight: 600;
    color: #274840;
    line-height: 1.6;
}
.white-button p{
    font-size: 14px;
    color: #A8A8A8;
    line-height: 0;
    margin: 0px;
}
.white-button-link{
    padding: 13px;
    background: #EFEEE9;
    border: none;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
  }
  .white-button-link img{
      padding: 5px;
  }
  .white-button-link .img-circle{
    padding: 8px;
    background-color: var(--pampas-white);
    border-radius: 50%;
    margin-right: 13px;
}
.white-button-link span{
    font-size: 14px;
    font-weight: 600;
    color: #274840;
    line-height: 1.6;
}
.white-button-link p{
    font-size: 14px;
    color: #A8A8A8;
    line-height: 0;
    margin: 0px;
}
.quantities{
    background-color: #F5F4F0;
    border-radius: 3px;
}
.customer-block{
    background-color: var(--green-haze);
    color: #fff;
    display: flex;
    padding: 30px;
}
.name-surname{
    display: flex;
    flex-direction: column;
}
.customer-img{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.name-surname p{
    margin: 0px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 300;
}
.name-surname h5{
    font-size: 24px;
    line-height: 1;
    color: #fff;
    margin: 0;
}
.name-surname .smaller-span{
    font-size: 14px;
    color: #ffffff80;
    font-weight: 300;
    margin-bottom: 30px;
}
.quantities-list li{
    border-bottom: 1px dashed #00000020;
    list-style: none;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quantities-list ul{
    list-style: none;
    padding: 0px 30px;
}
.quantities-list .number{
    font-size: 64px;
    font-weight: 300;
}
.quantities-list span{
    font-size: 14px;
    font-weight: 600;
}
.quantities-list ul li:last-child{
    border-bottom: none;
}
.patient-card-body{
    padding: 40px 25px;
    color: #323232;
}
.patient-card-body h5{
 padding-bottom: 20px;
 margin: 0;
}
.patient-card-body p{
    padding-bottom: 20px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
}
.patient-card{
    background-color: #EFEEE9;
    border-radius: 3px;
    margin-bottom: 25px;
}
.patient-card-body a{
    color: var(--green-haze);
    font-size: 18px;
    font-weight: 600;
}
.research-horizontal{
    background-color: #395A52;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 20px;
}
.research-horizontal img{
    border-radius: 50%;
    margin-right: 25px;
}
.research-text h5{
    color: #FFF;
    margin: 0px;
    line-height: 1.4;
    padding-bottom: 20px;
}
.research-text p{
    color: #ffffff70;
    font-size: 14px;
    line-height: 1.6;
    margin: 0px;
}
.download-card{
    background-color: var(--silver-sand);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.download-card-text h5{
    margin: 0px;
    color: var(--deep-haze)
}
.download-card-text p{
    font-size: 16px;
    line-height: 1.6;
    color: #282A28;
    margin: 0px;
    padding-bottom: 20px;
}
.download-card-text a{
    color: #274840;
    font-weight: 600;
    font-size: 18px;
}
.download-breakline{
    width: 100%;
    border-bottom: 2px solid #E5E3DA;
   padding-top: 10px;
}
.cannify-oil-bg-video{
    display: flex;
    position: relative;
    height: 75vh;
}
.cannify-oil-bg-video:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.272);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .cannify-shop-bg{
    display: flex;
    position: relative;
    height: 61vh;
}
.about-us-bg-video{
    display: flex;
    position: relative;
    height: 65vh;
}

.about-us-bg-video:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.272);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
.headline-block{
    max-width: 100%;
    padding: 20px;
}
.for-doctors-headline-block{
    max-width: 60%;
    padding: 20px;
}
.for-doctors-headline-block p{
    font-size: 16px;
    color: #fff;
}
.about-us-headline-block{
    max-width: 60%;
    padding: 20px;
}
.cannify-shop-for-doctors{
    margin-top: 9vh;
}
.list-section-selector{
    list-style: none;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
.section-selector{
    display: flex;
    background-color: var(--silver-sand);
    border-radius: 3px;
    padding: 25px;
}
.list-section-selector a {
    color: #000;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 8px 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition:all 0.3s ease-in-out;
}

.list-section-selector a:hover {
    background-color: var(--pampas-white);
    transition:all 0.3s ease-in-out;
}
.list-section-selector{
    border-left: 1px solid #00000020;
}
.active-second-nav{
    border-left: 3px solid var(--green-haze) !important;
}
.section-selector-column span{
    font-weight: 600;
    font-size: 14px;
}
.section-selector-column p{ 
    font-size: 14px;
}
.sticky-selector{
    position: sticky;
    top: 10px;
}
.shop-contact-block{
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    background-color: var(--silver-sand);
    margin-top: 20px;
    border-radius: 3px;
    margin-bottom: 25px;
}
.shop-contact-block h6{
    color: #000;
    padding-bottom: 20px;
    margin: 0px;
}
.shop-contact-block a{
    color: #000;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
}
.shop-contact-block a:hover{
    color: #000;
    font-size: 14px;
    text-decoration: underline;
}
.shop-contact-block span{
    color: #000;
    font-weight: 600;
    font-size: 14px;
    margin: 0px;
    line-height: 1;
    padding: 10px 0px;
}
.shop-contact-block p{
    color: #000;
    font-weight: 300;
    font-size: 14px;
    margin: 0px;
    line-height: 1;
}
.shop-contact-block button{
    margin: 0px;
    margin-top: 20px;
}
.list-info-column span{
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    line-height: 1;
    text-align: start;
}
.list-info-column p{
    font-size: 14px;
    line-height: 1;
}
.product-information-block{
    margin-top: 0px;
    padding-bottom: 10%;
}
.product-information-block p{
    font-size: 14px;
    line-height: 1.6;
    margin: 2% 0px;
}
.product-information-block button{
    margin: 5px 0px;
    width: 100%;
}
.list-info-column .black-breakline{
    margin-bottom: 2%;
}
.white-button-text{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.white-button-text p{
    font-size: 12px;
    color: #C4C4C4;
    margin: 0px;
}
.white-button-link span{
    text-decoration: underline;
    color: var(--green-haze);
}
.white-button-link p{
    text-decoration: none;
    color: #5F5F5F;
}
.product-information-block a{
    text-decoration: none;
}
.faq-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: var(--silver-sand);
    border-radius: 3px;
    width: 100%;
    margin-bottom: 5px;
}
.faq-title h4{
    margin: 0px;
}
.faq-accordion{
    display: flex;
    flex-direction: column;
    background-color: var(--pampas-light);
    border-radius: 3px;
    padding: 0px 25px;
    padding-bottom: 25px;
}
  .accordion button {
        position: relative;
        display: flex;
        width: 100%;
        background: var(--pampas-light);
        border: none;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 20px 0px;
}
  .accordion-item{
      border: none;
      border-bottom: 1px solid var(--pampas-dark);
      background-color: var(--pampas-light);
  }
  .accordion-item h6{
      margin-right: 20px !important;
      margin: 0px;
      padding: 10px 0px;
      text-align: left;
  }
  .accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #274840;
  }
  .accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #274840;
    border: 1px solid #274840;
  }
  .accordion button[aria-expanded=true] {
    color: #274840;
  }
  .accordion button[aria-expanded=true] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: fit-content;
    background-color: var(--pampas-light);
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0px 6px;
  }
.accordion-content p{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;

}
.accordion-content span{
    font-weight: 600;
    font-size: 14px;
}
.accordion-list{
    margin-top: 20px;
    margin-bottom: 20px;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  margin-top: 14px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.cannify-shop-headline-container{
    z-index: 8;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cannify-shop-headline-container h1{
    color: #fff;
    margin-bottom: 20px;
}
.cannify-shop-headline-container p{
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}
.cannify-shop-headline-block {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: inline-block;
    margin: 0 auto;
    width: 50%;
  }
  .pseudo-search {
    display: inline-flex;
    border-radius: 3px;
    padding: 20px 25px;
    background: var(--pampas-light);
    width: 100%;
}
  .pseudo-search input {
    border: 0;
    background-color: transparent;
    width: 100%;
  }
  .pseudo-search input:focus {
    outline: none;
  }
  .pseudo-search button,
  .pseudo-search i {
    border: none;
    background: none;
    cursor: pointer;
  }
  .pseudo-search select {
    border: none;
  }
  .fa-search:before{
      color: #8a898890;
  }
.cannify-shop-head-info{
    font-size: 14px;
    color: #000;
    line-height: 1.2;
    z-index: 1;
    margin-top: 5%;
    margin-bottom: 10%;
}
.cannify-shop-head-info span{
    font-weight: 600;
}
.cannify-shop-head-info p{
    margin: 0px;
}
.cannify-shop-head-info-content{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1%;
}
.cannify-shop-head-buttons button{
    color: #000;
    padding: 10px 25px;
}
.cannify-shop-head-buttons button:hover{
    color: #000;
    background-color: #00000020;
    padding: 10px 25px;
}
.faq-block{
    margin-bottom: 10%;
}
.cannify-shop-download-card button{
    width: 100%;
    margin: 5px 0px;
}
.cannify-shop-downloads-row h2{
    margin-bottom: 5%;
}
.cannify-shop-faq h2{
    margin-bottom: 5%;
}
.cannify-shop-info-text p{
    margin-top: 15px;
}
.cannify-shop-info-contact{
    display: flex;
    flex-direction: column;
}
.cannify-shop-info-contact p{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.cannify-shop-info-contact span{
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.cannify-shop-info-contact a{
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
.pharmacists-qualities-section{
    margin-top: 12vh;
}
.cannify-partners span{
    font-size: 14px;
    font-weight: 600;
}
.cannify-partners p{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
}
.how-it-works-section{
    padding: 5% 0px;
}
.how-it-works-section h2{
    margin-bottom: 20px;
}
.step-by-step-block{
    margin-left: 60px;
}
.step-block{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 15px;
}
.step-block p{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
}
.step-block::before{
    counter-increment: section;
    content: '0' counter(section) '';
    position: absolute;
    left: -75px;
    width: 60px;
    height: 60px;
    background-color: var(--silver-sand);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.step-block::after{
    content: '';
    position: absolute;
    top: 70px;
    left: -45px;
    height: 100%;
    margin-bottom: 100px;
    border-left: 2px solid var(--silver-sand);
}
.step-block:last-child::after{
    display: none;
}
.partner-review-block{
    display: flex;
    background-color: var(--pampas-light);
    padding: 40px 30px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.partner-review-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.partner-review-text span{
    font-size: 14px;
    color: #00000080;
}
.partner-review-text h5{
    margin: 0%;
}
.partner-review-img{
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
.partner-review-img img{
    border-radius: 50%;
    border: 1px solid var(--feld-green);
}
.partner-review-text img{
    padding: 25px 0px;
}
.partner-review-text p{
    font-size: 18px;
    color: #000000;
    line-height: 1.4;
}
.partners-review-info span{
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}